/codes/news/*
/codes/news_onto/*
/codes/uni_onto/*
/codes/filtered_onto/*
/0_newsInput/*
/1_ontologiesInput/*
/2_connectOutput/*
/3_mergeOutput/*
/3.5_OWLAPIOutput/*
/4_refineOutput/*
/5_filteredOnto/*
.env

!/codes/news/.gitkeep
!/codes/news_onto/.gitkeep
!/codes/uni_onto/.gitkeep
!/codes/filtered_onto/.gitkeep
!/0_newsInput/.gitkeep
!/1_ontologiesInput/.gitkeep
!/2_connectOutput/.gitkeep
!/3_mergeOutput/.gitkeep
!/3.5_OWLAPIOutput/.gitkeep
!/4_refineOutput/.gitkeep
!/5_filteredOnto/.gitkeep